.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.2rem;
    border-bottom: 1px solid #777;
}
.nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.link {
    text-decoration: none;
    list-style: none;
    color: black;
}

.link:hover{
    text-decoration: underline;
    cursor: pointer;
}
.cart-note{
    position: relative;
    display: flex;
}
.cart-counter{
    position: absolute;
    top: -.7rem;
    left: 100%;
    background-color: red;
    padding: .2rem .5rem;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 900;
    color: white;
    transform: scale(70%);
}