.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.2rem;
    border-bottom: 1px solid #777;
}
.nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.nav ul li {
    text-decoration: none;
    list-style: none;
}

.nav ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}